@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03rem;

    font-family: Montserrat, sans-serif;

    overflow-x: hidden;
}

a {
    cursor: pointer;
    font-weight: 700;
}